/*home*/
 .container {
        background-color: white;
        margin-top: 1rem;
    }
    .section {
        background-color: wheat;
        padding: 2rem;
        border-radius: 20px;
    }
    .artist{
        background-color: white;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .name{
        color: darkblue;
        margin-left: 2rem;
    }
    .more{
        color:blue;
        text-decoration: none;
        font-size:15px; 
        cursor: pointer;      
    }
    .others{
        margin-left: 2rem;
        margin-top:2rem;
    }
    
.navbar-main{
    background-color: brown;
}

.nav-font{
    color: white;
    font-weight:bold;
}

.nav-font:hover{
    color: cornsilk;
}

.right{
    float: right;
}

.center{
    align-content: center;
}

.heading{
    color: rgb(109, 45, 45);
    padding: 20px;
    text-align: center;
}

* {box-sizing:border-box}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    padding: 2px;
    padding-left: 2px;
    }

    body {
    background: #ffcccc;  /* fallback for old browsers */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.admin-profile .card {
    border-radius: 10px;
    background: #ffcccc;
}

.container{
    background: #ffffff;
}
.admin-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%; 
}

.admin-profile-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.admin-profile-profile .card p {
    font-size: 16px;
    color: #000;
}

.admin-profile .table th,
.admin-profile-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #6633ff;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  float: right;
  margin-right: 3rem;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}
